<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <img src="/assets/logo-footer.png" alt="logo footer" />
      <p>
        © 2019
        <a href="https://github.com/PinkyRabbit" target="_blank"
          >Mikita Melnikau </a
        >. Все права защищены.
      </p>
      <p>
        Сообщество пользователей, в котором люди знакомятся и общаются в режиме
        реального времени. Если у вас возникли какие-то вопросы, идеи,
        предложения, вы нашли ошибку в сайте - воспользуйтесь одной из ссылок
        ниже.
      </p>
      <p class="is-size-7">
        <a href="#" class="underlined">Правила сервиса</a>
        <a href="#" class="underlined">Политика конфиденциальности</a>
        <a href="#" class="underlined">Если нашли ошибку на сайте</a>
        <a href="#" class="underlined">Обратная связь</a>
      </p>
      <br />
      <img src="/assets/rating.png" alt="rating footer" />
    </div>
  </div>
</footer>
