<section
  id="login-component"
  class="section"
  (window:resize)="onResize($event)"
  [style.height]="windowHeight + 'px'"
  [style.boxShadow]="boxShadow"
>
  <div class="container" [hidden]="!loader">
    <div class="columns is-multiline">
      <div class="column is-one-third">
        <div app-outside-logo>Loading app-outside-logo...</div>
        <div app-login-form (isLoaderEnabled)="isLoaderEnabled($event)">
          Loading app-login-form...
        </div>
      </div>

      <div class="column is-one-third" id="main-challenge">
        Последние новости...
      </div>

      <div class="column is-one-third">Последние события...</div>
    </div>
  </div>

  <div
    app-outside-loader-light
    [text]="'С возвращением! Входим в чатик...'"
    [loaderHeight]="loaderHeight"
    [hidden]="loader"
  >
    Loading app-outside-loader-light...
  </div>

  <div id="stars">
    <div app-outside-stars>Loading app-outside-stars...</div>
  </div>
</section>
