<section
  id="login-component"
  class="section"
  (window:resize)="onResize($event)"
  [style.height]="windowHeight + 'px'"
  [style.boxShadow]="boxShadow"
>
  <div class="container" [hidden]="!loader">
    <div class="columns is-multiline">
      <div class="column is-one-third">
        <app-outside-logo>Loading app-outside-logo...</app-outside-logo>

        <div id="main-login" class="has-text-centered">
          <app-login-form [user]="auth" (submitForm)="submitForm($event)"
            >Loading app-form-login...</app-login-form
          >
          <a href="#" class="underlined muted">Правила</a>
          <a href="#" class="underlined muted">Подсмотреть</a>
          <a routerLink="/sign-in" class="underlined">Регистрация</a>
        </div>
      </div>

      <div class="column is-one-third" id="main-challenge">
        Последние новости...
      </div>

      <div class="column is-one-third">Последние события...</div>
    </div>
  </div>

  <div
    app-outside-loader-light
    [text]="loaderText"
    [loaderHeight]="loaderHeight"
    [hidden]="loader"
  >
    Loading app-outside-loader-light...
  </div>

  <div id="stars">
    <div app-outside-stars>Loading app-outside-stars...</div>
  </div>
</section>
