#!/bin/bash

echo "Start deploy"
rm -rf /path/to/app/client
rm -rf /path/to/app/server
cd /path/to/app
git checkout -f master
git pull
cd /path/to/app/src-client
npm i
ng build --prod=true
mv /path/to/app/src-client/dist /path/to/app/client
cd /path/to/app/src-server
npm i
nest build
mv /path/to/app/src-server/dist /path/to/app/server
mkdir -p /path/to/app/server/public
cp /path/to/app/src-server/pm2-config.json /path/to/app/server/pm2-config.json
cp /path/to/app/src-server/package.json /path/to/app/server/package.json
cp /path/to/app/src-server/package-lock.json /path/to/app/server/package-lock.json
cd /path/to/app/server
npm install --only=production
pm2 startOrRestart pm2-config.json
echo "Deploy end"
