#!/bin/bash	

echo "Start deploy"	
cd /path/to/app
git checkout -f master
git pull
cd /path/to/app/src-client
npm i
ng build --prod=true	
rm -rf /path/to/app/client	
mv /path/to/app/src-client/dist /path/to/app/client	
echo "Deploy end"
