<nav id="navbar">Navbar loading...</nav>
<div
  class="columns is-gapless is-paddingless is-marginless"
  (window:resize)="onInitAndOnResize($event)"
>
  <div class="column" id="chat2">
    <div id="inputarea">
      <div id="chat-messages" [maxHeight]="maxChatSize">
        Loading chat-messages...
      </div>
      <div class="field has-addons">
        <!-- <p class="control">
                            <span class="select">
                                <select>
                                    <option>$</option>
                                    <option>£</option>
                                    <option>€</option>
                                </select>
                            </span>
                        </p> -->
        <p class="control">
          <a href="/user/logout" class="button is-info has-text-warning">
            <i class="fas fa-dizzy"></i>
          </a>
        </p>

        <p class="control is-expanded">
          <input
            class="input has-background-grey-light"
            id="message"
            type="text"
            placeholder="Введите текст сообщения..."
          />
        </p>
        <p class="control">
          <button class="button is-info has-text-primary" id="send">
            <i class="fas fa-angle-right"></i>
          </button>
        </p>
      </div>
    </div>
  </div>
  <div class="column is-one-fifth has-background-grey-light">
    <div id="chat-users">Loading chat-users...</div>
  </div>
</div>
