:host {
  #app-login-links {
    a {
      text-decoration: underline;
      color: #6a72a9;
    }

    a:hover,
    a:focus {
      text-decoration: none;
      color: #6a72a9;
    }

    a.reg-link {
      color: #9fdcef;
    }
  }
}

[hidden] {
  display: none !important;
}

@media (min-width: 350px) {
  :host {
    #app-login-links {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      padding-top: 20px;
    }
  }
}
