// navbar
$navbar-item-hover-background-color: #272f46 !default;
$navbar-dropdown-item-hover-background-color: #272f46 !default;
$navbar-dropdown-item-hover-color: #6aff83;
$navbar-dropdown-item-active-background-color: #272f46 !default;
$navbar-dropdown-item-active-color: #6ad6ff;
$navbar-divider-background-color: #2e323e;
$navbar-dropdown-background-color: #1c202b;
$navbar-dropdown-border-top: 2px solid #69769c;
$navbar-dropdown-arrow: #69769c;
$text-strong: inherit;
