<section class="section bg-bricks" id="section-bricks">
  <div class="container">
    <div class="columns is-multiline">
      <header app-outside-page-header [title]="pageTitle">
        Loading app-outside-page-header...
      </header>
      <main>
        <p>
          Эта страница представляет собой упорядоченный свод правил сайта. Для
          удобства чтения он разделён на тезисы. При необходимости, он может
          изменяться и дополняться, чтобы внести большую ясность для
          пользователей и гостей сайта. Важно заметить, что,
          <strong
            >если вы регистрируетесь на сайте - вы автоматически соглашаетесь со
            всеми правилами нашего сайта</strong
          >.
        </p>
        <h2>Типы учётных записей</h2>
        <h3>Пользователи сайта</h3>
        <p>Эту страницу ещё нужно будет сделать</p>
      </main>
    </div>
  </div>
  <div id="stars">Loading stars...</div>
</section>
<footer app-outside-footer>Loading app-outside-footer...</footer>
