:host {
  section {
    display: block;
    background: url("/assets/beg-crop-1200.jpg") top left / 100% auto repeat-y;
    padding-bottom: 0;

    .notification.is-info {
      background-color: #212859;
      color: #fff;

      a {
        color: aqua;
      }
    }
  }
}
