<div class="navbar-brand" (window:resize)="onResize($event)">
  <a class="navbar-item" [routerLink]="['/']" alt="На главную">
    <img src="/assets/logo-nav.png" alt="Logo" width="112" height="28" />
  </a>
  <a
    role="button"
    class="navbar-burger"
    [hidden]="!isOnTablet"
    (click)="onClickMenuButton($event, 'notifications')"
  >
    <svg-icon
      [src]="
        hasUpdatesIn.notifications
          ? '/assets/svg/notification.svg'
          : '/assets/svg/notification-b.svg'
      "
      [ngClass]="{
        'not-active-svg': !hasUpdatesIn.notifications && !buttons.notifications,
        'active-svg': !hasUpdatesIn.notifications && buttons.notifications
      }"
      [svgStyle]="{
        'width.px': 30,
        'height.px': 30
      }"
    ></svg-icon>
  </a>
  <a
    role="button"
    class="navbar-burger"
    (click)="onClickMenuButton($event, 'chats')"
    [hidden]="!isOnTablet"
  >
    <svg-icon
      [src]="
        hasUpdatesIn.chats ? '/assets/svg/chat.svg' : '/assets/svg/chat-b.svg'
      "
      [ngClass]="{
        'not-active-svg': !hasUpdatesIn.chats && !buttons.chats,
        'active-svg': !hasUpdatesIn.chats && buttons.chats
      }"
      [svgStyle]="{ 'width.px': 30, 'height.px': 30 }"
    ></svg-icon>
  </a>
  <a
    role="button"
    class="navbar-burger"
    (click)="onClickMenuButton($event, 'settings')"
    [hidden]="!isOnTablet"
  >
    <svg-icon
      [src]="
        buttons.settings
          ? '/assets/svg/settings-b.svg'
          : '/assets/svg/settings.svg'
      "
      [ngClass]="{ 'not-active-svg': !buttons.settings }"
      [svgStyle]="{ 'width.px': 30, 'height.px': 30 }"
    ></svg-icon>
  </a>
  <a
    role="button"
    class="navbar-burger"
    (click)="onClickMenuButton($event, 'users')"
    [hidden]="!isOnTablet"
  >
    <svg-icon
      [src]="
        hasUpdatesIn.users
          ? '/assets/svg/speaking.svg'
          : '/assets/svg/speaking-b.svg'
      "
      [ngClass]="{
        'not-active-svg': !hasUpdatesIn.users && !buttons.users,
        'active-svg': !hasUpdatesIn.users && buttons.users
      }"
      [svgStyle]="{ 'width.px': 30, 'height.px': 30 }"
    ></svg-icon>
  </a>
</div>
<div class="navbar-menu" [ngClass]="{ 'is-active': isMenuActive }">
  <div class="navbar-start">
    <div
      navbar-chats
      [hidden]="isOnTablet && !buttons.chats"
      [isOnTablet]="isOnTablet"
      [src]="
        hasUpdatesIn.chats ? '/assets/svg/chat.svg' : '/assets/svg/chat-b.svg'
      "
      [isSvgActive]="!hasUpdatesIn.chats && buttons.chats"
      [isSvgNotActive]="!hasUpdatesIn.chats && !buttons.chats"
      (mouseenter)="onHover($event, 'chats')"
      (mouseleave)="onHover($event, 'chats')"
    >
      Loading navbar-chats...
    </div>
  </div>
  <div class="navbar-end">
    <div
      navbar-notifications
      [hidden]="isOnTablet && !buttons.notifications"
      [isOnTablet]="isOnTablet"
      [src]="
        hasUpdatesIn.notifications
          ? '/assets/svg/notification.svg'
          : '/assets/svg/notification-b.svg'
      "
      [isSvgActive]="!hasUpdatesIn.notifications && buttons.notifications"
      [isSvgNotActive]="!hasUpdatesIn.notifications && !buttons.notifications"
      (mouseenter)="onHover($event, 'notifications')"
      (mouseleave)="onHover($event, 'notifications')"
    >
      Loading navbar-notifications...
    </div>
    <div
      navbar-user
      [hidden]="isOnTablet && !buttons.settings"
      [isOnTablet]="isOnTablet"
    >
      Loading navbar-settings...
    </div>
  </div>
</div>
