<form #LoginFrom="ngForm" (ngSubmit)="onSubmit()">
  <div class="field">
    <div class="control">
      <input
        [(ngModel)]="user.username"
        name="username"
        class="input"
        type="text"
        placeholder="Логин"
        autocomplete="off"
        required
        autofocus
      />
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input
        [(ngModel)]="user.password"
        name="password"
        class="input"
        placeholder="Пароль"
        type="password"
        required
      />
    </div>
  </div>
  <div class="field">
    <label class="checkbox">
      <input
        type="checkbox"
        [checked]="user.rememberMe"
        (change)="user.rememberMe = !user.rememberMe"
      />
      Запомнить меня
    </label>
  </div>
  <button class="button is-fullwidth is-success" type="submit">Войти</button>
</form>
