<nav id="navbar">Navbar loading...</nav>
<div
  id="chat-main-block"
  class="columns is-gapless is-paddingless is-marginless"
  (window:resize)="onInitAndOnResize($event)"
>
  <div
    class="column"
    id="chat-messages"
    [baseStyles]="getStyles()"
    (addUsernameToMessage)="addUsernameToMessage($event)"
  >
    Loading chat-messages...
  </div>
  <div
    id="chat-users"
    [baseStyles]="getStyles()"
    (addUsernameToMessage)="addUsernameToMessage($event)"
  >
    Loading chat-users...
  </div>
</div>
<div id="text-input">
  Loading text-input...
</div>
