:host {
  color: #a0afde;
}
:host section {
  display: block;
  background: url("/assets/beg-crop-1200.jpg") top left / 100% auto repeat-y;
  padding-bottom: 0;
}
:host section #stars {
  padding-bottom: 0px;
  padding-top: 130px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 9;
}
:host section .bricked-bord {
  border: 5px solid #333468;
}
[hidden] {
  display: none !important;
}
