<div
  class="column is-two-third-tablet"
  (window:resize)="onResize($event)"
  [style.paddingBottom]="paddingBottom + 'px'"
>
  <form #registrationFrom="ngForm" (ngSubmit)="onSubmit()">
    <div class="columns">
      <div class="column is-one-halft">
        <div class="field">
          <label class="label" for="username">Ваш псевдоним (логин)</label>
          <div class="control">
            <input
              [(ngModel)]="user.username"
              name="username"
              class="input"
              type="text"
              placeholder="Введите логин..."
              autocomplete="off"
              required
              autofocus
            />
          </div>
        </div>
        <div class="field">
          <label class="label" for="password">Ваш пароль</label>
          <div class="control">
            <input
              [(ngModel)]="user.password"
              name="password"
              class="input"
              type="password"
              required
            />
          </div>
        </div>
        <div class="field">
          <label class="label" for="passconf">Ещё разок для верности</label>
          <div class="control">
            <input
              [(ngModel)]="user.passwordConfirmation"
              name="passwordConfirmation"
              class="input"
              type="password"
              required
            />
          </div>
        </div>
      </div>
      <div class="column is-one-halft">
        <div class="field">
          <label class="label" for="email">Электронная почта (email)</label>
          <div class="control">
            <input
              [(ngModel)]="user.email"
              name="email"
              class="input"
              type="text"
              required
            />
          </div>
        </div>
        <div class="field">
          <label class="label" for="year">Ваш год рождения</label>
          <div class="control">
            <input
              [(ngModel)]="user.year"
              name="year"
              class="input"
              type="text"
              required
            />
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="radio">
              <input
                [(ngModel)]="user.gender"
                [value]="0"
                [checked]="user.gender == 0"
                name="gender"
                type="radio"
                required
              />
              Мальчик
            </label>
            <label class="radio">
              <input
                [(ngModel)]="user.gender"
                [value]="1"
                [checked]="user.gender == 1"
                name="gender"
                type="radio"
                required
              />
              Девочка
            </label>
          </div>
          <div class="field">
            <div class="control">
              <label class="checkbox">
                <input
                  [(ngModel)]="user.rulesAccepted"
                  name="rulesAccepted"
                  type="checkbox"
                />
                Я ознакомился и согласен с <a href="#">правилами</a>
              </label>
            </div>
          </div>
        </div>
        <button class="button is-fullwidth is-success" type="submit">
          Зарегистрироваться
        </button>
      </div>
    </div>
  </form>
</div>
<div class="column is-one-third">
  <div class="notification is-info">
    Primar lorem ipsum dolor sit amet, consectetur adipiscing elit lorem ipsum
    dolor. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut,
    porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida
    purus diam, et dictum <a>felis venenatis</a>
    efficitur. Sit amet, consectetur adipiscing elit
  </div>
</div>
