<div class="column is-one-third">
  <form #registrationFrom="ngForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <label class="label" for="username">Ваш псевдоним (логин)</label>
      <div class="control">
        <input
          [(ngModel)]="user.username"
          name="username"
          class="input"
          type="text"
          placeholder="Введите логин..."
          autocomplete="off"
          required
          autofocus
        />
      </div>
    </div>
    <div class="field">
      <label class="label" for="password">Ваш пароль</label>
      <div class="control">
        <input
          [(ngModel)]="user.password"
          name="password"
          class="input"
          type="password"
          required
        />
      </div>
    </div>
    <div class="field">
      <label class="label" for="passwordConfirmation"
        >Ещё разок для верности</label
      >
      <div class="control">
        <input
          [(ngModel)]="user.passwordConfirmation"
          name="passwordConfirmation"
          class="input"
          type="password"
          required
        />
      </div>
    </div>
    <div class="field">
      <label class="label" for="email">Электронная почта (email)</label>
      <div class="control">
        <input
          [(ngModel)]="user.email"
          name="email"
          class="input"
          type="text"
          required
        />
      </div>
    </div>
    <div class="field">
      <label class="label" for="year">Ваш год рождения</label>
      <div class="control">
        <input
          [(ngModel)]="user.year"
          name="year"
          class="input"
          type="text"
          required
        />
      </div>
    </div>
    <div class="field">
      <div class="control is-size-5 has-text-centered">
        <label class="radio">
          <input
            [(ngModel)]="user.gender"
            [value]="0"
            [checked]="user.gender == 0"
            name="gender"
            type="radio"
            required
          />
          Мальчик
        </label>
        <label class="radio">
          <input
            [(ngModel)]="user.gender"
            [value]="1"
            [checked]="user.gender == 1"
            name="gender"
            type="radio"
            required
          />
          Девочка
        </label>
      </div>
    </div>
    <button class="button is-fullwidth is-success" type="submit">
      Зарегистрироваться
    </button>
  </form>
</div>
<div class="column is-one-third">
  <div class="notification is-info content">
    <h2>Рекомендации:</h2>
    <ul>
      <li>
        <strong>Логин</strong> - ваш псевдоним в чате. Выбирайте его интересным,
        чтобы он лучше характеризовал вас. По нему люди будут вас узнавать.
      </li>
      <li>
        <strong>Пароль</strong> - не используйте тот же пароль, что используете
        на других сайтах. Злоумышленникам его будет
        <strong>намного</strong> проще подобрать.
      </li>
      <li>
        <strong>Email</strong> - используйте вашу реальную электронную почту.
        Восстановление пароля и другое общение с администрацией будет
        осуществляться только через неё.
      </li>
    </ul>
  </div>
</div>
<div class="column is-one-third">
  <div class="notification is-info content">
    <h2>Важно:</h2>
    <p>
      Сервисом не могут пользоваться люди до 12 лет. Мы не хотим подвергать
      детей опасности при общении с незнакомцами.
    </p>
    <h3>
      Ознакомьтесь с
      <a href="/terms-of-use" alt="Правила сайта" target="blank">правилами</a>
    </h3>
    <p>
      В правилах описаны важные тезисы общения на сайте. Вы можете их не читать,
      но, если вы регистрируетесь - вы <u>автоматически с ними соглашаетесь</u>.
    </p>
  </div>
</div>
