<div class="column is-one-third">
  <form
    [formGroup]="registrationForm"
    (ngSubmit)="onSubmit(registrationForm.value)"
  >
    <div class="field">
      <label class="label" for="username">Ваш псевдоним (логин)</label>
      <div class="control">
        <input
          formControlName="username"
          id="username"
          class="input"
          type="text"
          placeholder="Введите логин..."
          autocomplete="off"
          [class.is-danger]="username.errors.usernameTaken"
          autofocus
        />
      </div>
      <p *ngIf="username.errors.usernameTaken" class="has-text-link">
        Уже занято другим пользователем
      </p>
    </div>
    <div class="field">
      <label
        class="label"
        for="password"
        [class.has-text-warning]="errorInPasswords"
        >Ваш пароль</label
      >
      <div class="control has-icons-right">
        <input
          formControlName="password"
          id="password"
          class="input"
          [class.is-warning]="errorInPasswords"
          [attr.type]="isPasswordVisible ? 'text' : 'password'"
        />
        <span
          *ngIf="!isPasswordVisible"
          class="icon is-small is-right"
          (click)="isPasswordVisible = true"
        >
          <svg-icon
            [src]="'/assets/svg/invisible.svg'"
            [svgStyle]="{ 'width.px': 25, 'height.px': 25, 'marginTop.px': 2 }"
          ></svg-icon>
        </span>
      </div>
    </div>
    <div class="field">
      <label
        class="label"
        for="passwordConfirmation"
        [class.has-text-warning]="errorInPasswords"
        >Ещё разок для верности</label
      >
      <div class="control has-icons-right">
        <input
          formControlName="passwordConfirmation"
          id="passwordConfirmation"
          class="input"
          [class.is-warning]="errorInPasswords"
          [attr.type]="isPasswordVisible ? 'text' : 'password'"
        />
        <span
          *ngIf="!isPasswordVisible"
          class="icon is-small is-right"
          (click)="isPasswordVisible = true"
        >
          <svg-icon
            [src]="'/assets/svg/invisible.svg'"
            [svgStyle]="{ 'width.px': 25, 'height.px': 25, 'marginTop.px': 2 }"
          >
          </svg-icon>
        </span>
      </div>
    </div>
    <div
      *ngIf="errorInPasswords"
      class="notification is-warning is-light has-text-weight-bold"
    >
      <p>Вы ошиблись при вводе пароля</p>
    </div>
    <div class="field">
      <label class="label" for="email">Электронная почта (email)</label>
      <div class="control">
        <input formControlName="email" id="email" class="input" type="text" />
      </div>
    </div>
    <div class="field">
      <label class="label" for="year">Ваш год рождения</label>
      <div class="control">
        <input formControlName="year" id="year" class="input" type="text" />
      </div>
    </div>
    <div class="field">
      <div class="control is-size-5 has-text-centered">
        <label class="radio">
          <input
            formControlName="gender"
            [value]="0"
            [checked]="user.gender == 0"
            type="radio"
          />
          Мальчик
        </label>
        <label class="radio">
          <input
            formControlName="gender"
            [value]="1"
            [checked]="user.gender == 1"
            type="radio"
          />
          Девочка
        </label>
      </div>
    </div>
    <button
      class="button is-fullwidth is-success"
      type="submit"
      [disabled]="!registrationForm.valid"
    >
      Зарегистрироваться
    </button>
  </form>
</div>
<div class="column is-one-third">
  <div class="notification is-primary content">
    <h2>Рекомендации:</h2>
    <ul>
      <li>
        <strong>Логин</strong> - ваш псевдоним в чате. Выбирайте его интересным,
        чтобы он лучше характеризовал вас. По нему люди будут вас узнавать.
      </li>
      <li>
        <strong>Пароль</strong> - не используйте тот же пароль, что используете
        на других сайтах. Злоумышленникам его будет
        <strong>намного</strong> проще подобрать.
      </li>
      <li>
        <strong>Email</strong> - используйте вашу реальную электронную почту.
        Восстановление пароля и другое общение с администрацией будет
        осуществляться только через неё.
      </li>
    </ul>
  </div>
</div>
<div class="column is-one-third">
  <div class="notification is-primary content">
    <h2>Важно:</h2>
    <p>
      Сервисом не могут пользоваться люди до 12 лет. Мы не хотим подвергать
      детей опасности при общении с незнакомцами.
    </p>
    <h3>
      Ознакомьтесь с
      <a href="/terms-of-use" alt="Правила сайта" target="blank">правилами</a>
    </h3>
    <p>
      В правилах описаны важные тезисы общения на сайте. Вы можете их не читать,
      но, если вы регистрируетесь - вы <u>автоматически с ними соглашаетесь</u>.
    </p>
  </div>
</div>
