@media (min-width: 350px) {
  :host {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // justify-content: space-between;
    justify-content: space-around;
    padding-top: 20px;
  }
}

:host a {
  text-decoration: underline;
  color: #6a72a9;
}

:host a:hover,
:host a:focus {
  text-decoration: none;
  color: #6a72a9;
}

:host a.reg-link {
  color: #9fdcef;
}
