:host {
  border-radius: 0;
  margin-bottom: 2px !important;
  background-color: #3b3e4e !important;
  color: #a0afde;

  .username {
    color: #cf81b4;
  }

  .username:hover,
  .username:focus {
    cursor: pointer;
  }

  p {
    margin-bottom: 0 !important;
    color: #606a90;
  }
}
