<section
  id="login-component"
  class="section"
  (window:resize)="onResize($event)"
  [style.boxShadow]="boxShadow"
>
  <div class="container">
    <div class="columns is-multiline">
      <header app-outside-page-header [title]="pageTitle">
        Loading app-outside-page-header...
      </header>
      <main
        id="registration-form"
        (loaderOn)="loaderOn($event)"
        (loaderOff)="loaderOff($event)"
        [hidden]="!loader"
      >
        Loading app-registration-form...
      </main>
      <div
        app-outside-loader-light
        [text]="loaderText"
        [loaderHeight]="loaderHeight"
        [hidden]="loader"
      >
        Loading app-outside-loader-light...
      </div>
      <div app-outside-stars>Loading app-outside-stars...</div>
    </div>
  </div>
</section>
<app-outside-footer>Loading app-outside-footer...</app-outside-footer>
