<section
  id="login-component"
  class="section"
  (window:resize)="onResize($event)"
  [style.boxShadow]="boxShadow"
>
  <div class="container">
    <div class="columns is-multiline">
      <header app-outside-page-header [title]="pageTitle">
        Loading app-outside-page-header...
      </header>
      <main app-registration-form>Loading app-registration-form...</main>
      <div app-outside-stars>Loading app-outside-stars...</div>
    </div>
  </div>
</section>
<app-outside-footer>Loading app-outside-footer...</app-outside-footer>
