<div class="navbar-brand">
  <a class="navbar-item" href="/">
    <img src="/assets/logo-nav.png" alt="Logo" width="112" height="28" />
  </a>
  <a
    role="button"
    class="navbar-burger"
    aria-label="menu"
    aria-expanded="false"
  >
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </a>
</div>
<div class="navbar-menu is-active">
  <!-- navbar-left -->
  <div class="navbar-start">
    <div class="navbar-item">
      <a href="#">
        <i class="far fa-bell"></i>
      </a>
    </div>
    <div class="navbar-item">
      <a href="#" class="has-text-black-bis">
        <i class="fas fa-briefcase"></i>
      </a>
    </div>
    <div class="navbar-item">
      <a href="#">
        <i class="fas fa-bullhorn"></i>
      </a>
    </div>
    <div class="navbar-item">
      <a href="#">
        <i class="fas fa-chess"></i>
      </a>
    </div>
  </div>
  <!-- navbar-right -->
  <div class="navbar-end">
    <div class="navbar-item">
      <p style="font-style: italic; color: #7eb78e; font-size: 0.8rem;">
        Какой-то демо текст
      </p>
    </div>
    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link">
        <figure class="image is-32x32px">
          <img src="https://picsum.photos/32" />
        </figure>
        usesa
      </a>
      <div class="navbar-dropdown is-right">
        <a class="navbar-item">
          Overview
        </a>
        <a class="navbar-item">
          Elements
        </a>
        <a class="navbar-item">
          Components
        </a>
        <hr class="navbar-divider" />
        <a href="/user/logout" class="navbar-item">
          Log out
        </a>
      </div>
    </div>
  </div>
</div>
