:host {
  background-color: #323443;

  #hide-users-button {
    width: 30%;
    display: none;
  }
}
:host.is-users-on-tablet {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
}

[hidden] {
  display: none !important;
}
